.grayish-pink{
background-color:#E5E4E2;
}
 
.faFacebook{
   color: #3b5998;
   
}
.fa-twitter{
   color: #55acee;
}
.fa-google{
color: #dd4b39;
}
.fa-instragram{
    color:  #ac2bac;
} 
.fa-Linkedin{
      color:  #0082ca;
} 
.fa-Github{
      color:   #333333;
}
.grayish-bg-pink{
background-color:#DAC5CC ;
}
.bg-navy{
   background-color: #3b5998;
   color:white;
}

 

      

     
 
